# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some commonly used libraries used by Data Scientists
- List Data Science Tools and Ecosystem
- List popular languages that Data Scientists use
- Using arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Scipy
- Pandas
- Matplotlib

| Data Science Tools |
| ------------------ |
|   Google Colab     |
|   R STUDIO         |
|  Watson STUDIO     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
ISSAM MOUSTAINE